plugins/dfm-wp-toprint/saxo/EWS_article.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sax="http://www.saxotech.com/editorial" targetNamespace="http://www.saxotech.com/editorial" elementFormDefault="qualified">
    <xs:complexType name="BaseItemType">
 json       <xs:sequence>
           <xs:element name="createdtime" type="xs:dateTime" maxOccurs="1" minOccurs="0" />
            <xs:element name="createdby" type="sax:InternalResourceType" maxOccurs="1" minOccurs="0" />
         <xs:element name="updatedtime" type="xs:dateTime" maxOccurs="1" minOccurs="0" />
            <xs:element name="updatedby" type="sax:InternalResourceType" maxOccurs="1" minOccurs="0" />
         <xs:element name="site" type="sax:SiteType" />
          <xs:element name="status" type="sax:StatusType" maxOccurs="1" minOccurs="0" />
          <xs:element name="category" type="sax:CategoryType" maxOccurs="1" minOccurs="0" />
          <xs:element name="publication" type="sax:PublicationType" maxOccurs="1" minOccurs="0" />
            <xs:element name="accesslevel" type="sax:AccessLevelType" maxOccurs="1" minOccurs="0" />
            <xs:element name="title" type="xs:string" maxOccurs="1" minOccurs="0" nillable="true" />
            <xs:element name="description" nillable="true" type="xs:string" maxOccurs="1" minOccurs="0" />
      </xs:sequence>
      <xs:attribute name="uri" type="xs:anyURI" use="optional"></xs:attribute>
    </xs:complexType>
<xs:element name="story" type="sax:ArticleListItemType"/>
<xs:complexType name="ParagraphListType">
    <xs:sequence>
        <xs:element name="paragraph" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
</xs:complexType>
<xs:complexType name="NativeBoxChunkListType">
    <xs:sequence>
        <xs:element name="chunk" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
</xs:complexType>
</xs:schema>
